*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container{
    background: linear-gradient(-148deg, rgba(17, 0, 0, 0.096)20%
    ,rgba(7, 0, 0, 0.473)50%), url(BG2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.navbar{
    backdrop-filter: blur(20px);
    background: transparent;
    display: flex;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.158);
    position: fixed;
    width: 100%;
    z-index: 2;
    
    
}
.navbarb{
    background-color: rgb(0, 0, 0);
    display: flex;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.37);
    position: fixed;
    width: 100%;
}
.logo{
    
    width: 30%;
    display: grid;
    place-items: center;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 0px 0px;
    
    

}
.navbar li a, .navbar li{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-weight: 800;
    padding: 0px 30px;
    
    
}
.navbar li{
    display: grid;
    place-items: right;
    
}
.navbar li:hover{
    height: 70%;
    display: grid;
    place-items: center ;
    background-color: rgba(255, 255, 255, 0.082);
    
    
}
.navbar li a:hover{
    color: rgb(255, 136, 0);
}
@media screen and (max-width: 900px) {
    .navbar{
        display: grid;
        place-items: center;
          
    }
    .logo{
        display: grid;
        place-items: center;
    }
    .logo img{
        width: 70px;   
    }
    .navbar ul{
        height: 50px;
        border-top: 2px solid white;
        width: 90%;
    }
    .navbar ul li{
        padding: 0;
    }
    
}
@media screen and (max-width: 1000px) {
    .navbar{
        display: grid;
        place-items: center;
          
    }
    .logo{
        display: grid;
        place-items: center;
    }
    .logo img{
        width: 30px;   
    }
    .navbar ul{
        height: 50px;
        border-top: 2px solid white;
        width: 90%;
    }
    .navbar ul li{
        padding: 0;
        font-size: 15px;
        
    }
    .navbar ul li a{
        padding: 0px 10px;
    }
    
}
.contain{
    display: flex;
    height: 100%;
    width: 100%;
}

.content-left{
    display: grid;
    place-items: center;
    width: 55%;
    height: 100%;
    
}
.intro{
    color: white;
    animation: left 3s ease-in-out;
}
@keyframes left {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
        
    }
}
.intro h2{
    font-size: 2rem;
    transition: 0.5s ease;
}
.intro h1{
    font-size: 5rem;
    transition: 0.5s ease;
    letter-spacing: 10px;
    background: linear-gradient(90deg,yellow, orange,rgb(194, 52, 75),rgb(245, 13, 64));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: huerotate 7s alternate infinite;
}
@keyframes huerotate {
    0%{
        filter: hue-rotate(279deg);
    }
    50%{
        filter: hue-rotate(179deg);
    }
    100%{
        filter: hue-rotate(12deg);
    }
    
}
.intro button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    font-weight: 800;
    
}

.intro button:hover{
    width: 200px;
}
@media screen and (max-width: 900px) {
   
    .content-left{
        width: 100%;
        height: 50%;
        display: grid;
        text-align: center;
    }
    .intro{
        color: white;
    }
    .intro h2{
        font-size: 1.5rem;
    }
    .intro h1{
        font-size: 3rem;
        color: rgb(255, 136, 0);
        
    }
    .intro button{
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: orangered;
        font-size: 0.7rem;
        font-weight: 800;
    
    }
    .form{
        display: grid;
        place-items: center;
    }
}
    @media screen and (max-width: 1000px) {
   
        .content-left{
            width: 100%;
            height: 50%;
            display: grid;
            text-align: center;
        }
        .intro{
            color: white;
        }
        .intro h2{
            font-size: 1.2rem;
        }
        .intro h1{
            font-size: 2.9rem;
            color: rgb(255, 136, 0);
            
        }
        .intro button{
            padding: 10px;
            border-radius: 20px;
            border: none;
            background-color: orangered;
            font-size: 0.7rem;
            font-weight: 800;
        
        }
        .form{
            display: grid;
            place-items: center;
        }
        
}

.form{
    height: 100vh;
    width: 45%;
    display: grid;
    place-items: center;
    animation: left 1s ease;
}
.form .login{
    width: 300px;
    height: 57vh;
    background-color: rgba(37, 37, 37, 0.185);
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(5px);
    
}
.input{
    display: grid;
    place-items: center;
    color: white;
}
.login h1{
    text-align: center;
    color: white;
    margin: 10px 0px;
}
.login .wrap{
    height: 30px;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 30px 0px; 
}

.login input{
    width: 100%;
    height: 0px;
    border: none;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    background-color: transparent;
    transition: 0.5s ease-in-out;
    outline: none;
    font-size: 1rem;
    padding: 0px 5px;
    background-color: rgb(170, 235, 255);
     
}
.login input:hover{
    height: 30px;
    box-shadow: 1px 1px 10px 1px rgb(0, 217, 255);
}

/*log in*/
.login button{
    margin: 0px 0px 10px 0px;
    width: 80%;
    height: 35px;
    position: relative;
    background-color: transparent;
    border: 3px solid black;
    font-weight: 900;
    color: white;
    letter-spacing: 6px;
    border-radius: 5px;
    overflow: hidden;
    transition: 1s ease;
    z-index: 1;
}
.login button::before{
    content: "";
    background-color: rgb(0, 217, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 0vh;
    transition: 1s ease;
    z-index: -1;
    
}
.login button:hover{
    border: 2px solid rgb(0, 217, 255);
    box-shadow: 1px 1px 10px 1px rgb(0, 217, 255);
    color: black;
}
.login button:hover::before{
    width: 103%;
    
}
/*Sign up*/
.login .sign{
    margin: 10px 0px 0px 0px;
    width: 80%;
    height: 35px;
    position: relative;
    background-color: transparent;
    border: 3px solid black;
    font-weight: 900;
    color: white;
    letter-spacing: 6px;
    border-radius: 5px;
    overflow: hidden;
    transition: 1s ease;
    z-index: 1;
}
.login .sign::before{
    content: "";
    background-color: rgb(255, 62, 136);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 0vh;
    transition: 1s ease;
    z-index: -1;
    
}
.login .sign:hover{
    border: 2px solid rgb(255, 62, 136);
    box-shadow: 1px 1px 10px 1px rgb(255, 62, 136);
    color: black;
}
.login .sign:hover::before{
    width: 103%;
    
}
@media screen and (max-width: 900px) {
    .container{
        height: 200vh;
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }
    .contain{
        display: block;
    }
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30%;
    }
    
}
@media screen and (max-width: 1000px) {
    .container{
        height: 200vh;
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }
    .contain{
        display: block;
    }
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
        
    }
    .form .login{
        height: 70vh;
        width: 40vh;
    }
}


/* About us */
.Aboutus{
    height: 130vh;
    background-color: rgb(24, 24, 24);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.aboutcontent{
    height: 80%;
    width: 90%;
    
}
.aboutcontent h1{
    font-size: 3rem;
    margin: 30px 0px;
}
.picture{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.picture img:nth-child(1){
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 10px 1px black;
    
}
.picture img:nth-child(2){
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 10px 1px black;
}
.picture img:nth-child(3){
    width: 300px;
    height: 250px;
    box-shadow: 1px 1px 10px 1px black;
}
.about1{
    animation: animate 3s ease;
}
@keyframes animate {
    from{
        opacity: 0;
        height: 20%;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .Aboutus{
        height: 100vh;
        background-color: rgb(24, 24, 24);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .aboutcontent{
        height: 80%;
        width: 90%;
        
    }
    .aboutcontent h1{
        font-size: 2rem;
        margin: 30px 0px;
    }
    .aboutcontent{
        font-size: 0.9rem;
    }
    .picture{
        display: flex;
        justify-content: space-around;
        width: 90%;
        height: 100%;
        padding: 20px;
    }
    .picture img:nth-child(1){
        width: 100px;
        height: 100px;
        box-shadow: 1px 1px 10px 1px black;
        
    }
    .picture img:nth-child(2){
        width: 100px;
        height: 180px;
        box-shadow: 1px 1px 10px 1px black;
    }
    .picture img:nth-child(3){
        width: 100px;
        height: 150px;
        box-shadow: 1px 1px 10px 1px black;
    }
    
}



/* Rooms */
.rooms{
    height: 200vh;
    background-color: rgb(241, 226, 216);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.roomcontent{
    height: 80%;
    width: 90%;
    
}
.roomcontent h1{
    font-size: 3rem;
    margin: 20px 0px;
}
/*room1*/
.roomcontent .cont1{
    width: 100%;
    height: 45%;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.roomcontent .cont1 img{
    width: 40%;
    height: 90%;
    box-shadow: 1px 1px 10px 1px black;
    
}
.room1{
    animation: fade 3s ease;
}
.roomcontent .cont1 .text{
    text-align: start;
    width: 50%;
    height: 90%;   
}
.roomcontent .cont1 .title{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}

.roomcontent .cont1 .title .line{
    margin: 5px 5px 0px 5px;
    width: 50%;
    height: 5px;
    background-color: black;
    
}
.roomcontent .cont1 .text h1{
    font-size: 2rem;
}
.roomcontent .cont1 p{
    font-size: 1.8rem;
    margin: 5px 40px;
}
/*room2*/
.roomcontent .cont2{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.roomcontent .cont2 img{
    width: 40%;
    height: 90%;
    box-shadow: 1px 1px 10px 1px black;
}
.room2{
    animation: fade 5s ease;
}
.roomcontent .cont2 .text{
    text-align: start;
    width: 50%;
    height: 90%;
   
    
}
.roomcontent .cont2 .title{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}

.roomcontent .cont2 .title .line{
    margin: 5px 5px 0px 5px;
    width: 50%;
    height: 5px;
    background-color: black;
    
}
.roomcontent .cont2 .text h1{
    font-size: 2rem;
}
.roomcontent .cont2 p{
    font-size: 1.8rem;
    margin: 5px 40px;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width: 1000px) {
    .roomcontent h1{
        font-size: 2rem;
        margin: 20px 0px;
    }
    .roomcontent .cont1{
        width: 100%;
        height: 30%;
       
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .roomcontent .cont1 img{
        width: 40%;
        height: 75%;
        box-shadow: 1px 1px 10px 1px black;
        
    }
    .room1{
        animation: fade 3s ease;
    }
    .roomcontent .cont1 .text{
        text-align: start;
        width: 50%;
        height: 90%;
       
        
    }
    .roomcontent .cont1 .title{
        display: flex;
        align-items: center;
        justify-content: center;
       
       
    }
    
    .roomcontent .cont1 .title .line{
        margin: 5px 5px 0px 5px;
        width: 30%;
        height: 2px;
        background-color: black;
        
    }
    .roomcontent .cont1 .text h1{
        font-size: 1rem;
    }
    .roomcontent .cont1 p{
        font-size: 0.6rem;
        margin: 5px 40px;
    }
    /*room2*/
    .roomcontent .cont2{
        width: 100%;
        height: 30%;
       
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .roomcontent .cont2 img{
        width: 40%;
        height: 75%;
        box-shadow: 1px 1px 10px 1px black;
        
    }
    .room2{
        animation: fade 3s ease;
    }
    .roomcontent .cont2 .text{
        text-align: start;
        width: 50%;
        height: 90%;
       
        
    }
    .roomcontent .cont2 .title{
        display: flex;
        align-items: center;
        justify-content: center;
       
       
    }
    
    .roomcontent .cont2 .title .line{
        margin: 5px 5px 0px 5px;
        width: 30%;
        height: 2px;
        background-color: black;
        
    }
    .roomcontent .cont2 .text h1{
        font-size: 1rem;
    }
    .roomcontent .cont2 p{
        font-size: 0.6rem;
        margin: 5px 40px;
    }
}